@*<Directives>*@
@page "/"
@using MyBlog.Data.Models
@using MyBlog.Data.Interfaces
@inject IMyBlogApi api
@*</Directives>*@

@*<TheList>*@
<button @onclick="AddSomePosts">Add some fake posts</button>
<br />
<br />

<ul>
    @foreach (var p in posts)
    {
        <li>@p.Title</li>
    }
</ul>
@*</TheList>*@

@code{
    //<AddVariable>
    protected List<BlogPost> posts = new List<BlogPost>();
    //</AddVariable>

    //<LoadData>
    protected override async Task OnInitializedAsync()
    {
        posts = await api.GetBlogPostsAsync(10, 0);
        await base.OnInitializedAsync();
    }
    //</LoadData>
    
    protected async Task AddSomePosts()
    {
        var category = await api.SaveCategoryAsync(new Category() { Name = "New Category" });
        for (int i = 0; i < 10; i++)
        {
            var post = new BlogPost
                {
                   PublishDate = DateTime.Now, 
                   Title = $"Blog post {i}", 
                   Text = "Text",
                   Category=category
                };
            await api.SaveBlogPostAsync(post);
        }   
    }
}