<h3>Authorized Or Not</h3>

<AuthorizeView>
    <Authorized>
        <strong>Authorized</strong>
    </Authorized>
    <NotAuthorized>
        <strong>Not Authorized</strong>
    </NotAuthorized>
</AuthorizeView>

@code {

}
