@*<Page>*@
@page "/counter"
@*</Page>*@

<h1>Counter</h1>
@*<CurrentCount>*@
<p>Current count: @currentCount</p>
@*</CurrentCount>*@
@*<Button>*@
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@*</Button>*@

@*<Code>*@
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
@*</Code>*@